//topbar
.topbar{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #5c4033;
    color: #ffffff;

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .line-1,
        .line-2,
        .line-3 {
            width: 25px;
            height: 2px;
            background-color: #ffffff;
         }
    }

    .topbar-title {
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            color: #eaddc3;
        }
    }
}

.dropdown-menu {
    background-color: #5c4033;

    .dropdown-item {
        color: #000000;

        &:hover {
            background-color: #eaddc3;
            color: #5c4033;
        }
    }
}

.user-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

//sidebar
.scrollable-area {
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background: linear-gradient(45deg, #eaddc3, #fcda95);
    color: #5c4033;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;

    .logo-container {
        padding: 24px;
        text-align: center;
        border-bottom: 3px solid #5c4033;
        background: linear-gradient(180deg, #eaddc3, transparent);

        .logo-image {
            max-width: 100%;
            height: auto;
        }
    }

    .sidebar-nav {
        display: flex;
        flex-direction: column;

        .sidebar-link {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 15px 24px;
            border-left: 4px solid transparent;
            color: #5c4033;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            transition: border-left 0.2s;

            &:hover,
            &.active {
                background-color: #ddbc85;
                border-left: 4px solid #b08968;
                color: #3e2c23;
            }
        }

        .sidebar-section-group {
            display: flex;
            flex-direction: column;

            .sidebar-main-item {
                display: flex;

                .sidebar-link {
                    display: flex;
                    gap: 8px;
                    width: 100%;

                    .sidebar-link-title {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .sidebar-sub-item {
                display: none;
            }

            &.active {
                .sidebar-sub-item {
                    display: grid;
                }
            }
        }
    }

    .close-sidebar-btn {
        position: absolute;
        right: -18px;
        bottom: 100px;
        display: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #5c4033;
        color: #eaddc3;
        font-size: 24px;
        text-align: center;
        align-content: center;
    }

    &.sidebar-open {
        left: 0;
    }
}

@media (max-width: 992px) {
    .sidebar {
        left: -250px;
        width: 250px;

        &.sidebar-open {
            .close-sidebar-btn{
                display: block;
            }
        }
    }

    .scrollable-area {
        flex-direction: row;
        overflow-x: auto;
    }

    .sidebar-link {
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
        white-space: nowrap;
    }
}
