$body-bg: #f8fafc;
$font-family-sans-serif: "Plus Jakarta Sans", sans-serif;
$primary: #FFC000;
$secondary: #6c757d;
$success: #9FE79F;
$info: #C1E1EA;
$warning: #ffcc7b;
$danger: #fca7af;
$dark: #161616;
