// 自己的 SCSS 文件
@import "variables";
@import "admin";
@import "auth";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FortAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Select2
@import "~select2/dist/css/select2.min.css";
@import "~select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css";

// Notifier.js
@import "~notifier-js/css/notifier.css";

.body{
    max-width: 100vw;
    min-height: 100vh;
}

.notifier-container {
    z-index: 1082;
}
